name: Run tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci_tests:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      envs: |
        - name: py3.11
          linux: test
          os: ubuntu-latest
          python-version: 3.11
          toxposargs: --remote-data

        - name: py3.12
          linux: test
          os: ubuntu-latest
          python-version: 3.12
          toxposargs: --remote-data

        - name: py3.13
          linux: test
          os: ubuntu-latest
          python-version: 3.13
          toxposargs: --remote-data

        - name: Code style checks
          python: 3.11
          os: ubuntu-latest
          linux: codestyle

        - name: py3.12 with coverage
          linux: test
          os: ubuntu-latest
          python: '3.12'
          toxenv: py312-test-cov

  cov:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v4

      - name: Install dependencies
        run: 
          pip install pytest pytest-cov pytest-doctestplus pytest-remotedata .

      - name: Run tests
        run: pytest --cov --cov-branch --cov-report=xml --remote-data

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
